
.HeaderCard__left{
    left: 0;
    
}
.HeaderCard__left img{
    float: inline-start;
   width: auto;
   height: 100%;

}
.HeaderCard__right{
    text-align: center;
    font-weight: bold;
    font-family: "Oswald";
}
.HeaderCard :hover{
    cursor: pointer;
}