:root {
  --primary-color: #004aad;
  --secondary-color: #f6921e;
  --primary-font: 'Oswald', sans-serif;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  font-size: 1.6rem; 
}

.aboutHome .item:hover {
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 20%);
}


:root {
  --main-color: #004aad;
  --hover-color: #f6921e;
}


.vision-mission-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.card {
  border-radius: 10px;
  border: none;
  transform: scale(1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  padding: 30px;
  min-height: 350px;
  width: 350px;
  text-align: center;
  background-color: #fff;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 5px var(--hover-color);
}

.icon {
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.5s ease;
}

.icon i {
  background: var(--main-color);
  padding: 26px;
  color: #fff;
  font-size: 3rem;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease;
}

.card-title {
  padding: 40px 0 10px;
  font-weight: 700;
  text-transform: capitalize;
}

.card-text {
  font-size: 14px;
  padding: 5px;
}

.card:hover .icon i {
  background: var(--hover-color);
}

@media (max-width: 1200px) {
  .card-box {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .card-box {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {
    min-height: 280px;
  }

  .icon i {
    padding: 20px;
    font-size: 2.5rem;
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 768px) {
  .card-box {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .card {
    min-height: 250px;
  }

  .icon i {
    padding: 18px;
    font-size: 2rem;
    width: 70px;
    height: 70px;
  }

  .card-title {
    padding: 20px 0 10px;
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .card-box {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card {
    min-height: 220px;
  }

  .icon i {
    padding: 15px;
    font-size: 1.5rem;
    width: 60px;
    height: 60px;
  }

  .card-title {
    padding: 15px 0 10px;
    font-size: 1rem;
  }

  .card-text {
    font-size: 10px;
  }
}


/* Awrapper Section */
.awrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh; 
  color: #fff;
  display: flex;
  align-items: center;
}

.awrapper .container {
  display: flex;
  justify-content: space-between;
}

.awrapper .box {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 0 10px;
  flex: 1;
}

.awrapper img {
  margin-right: 30px;
}

.awrapper h1 {
  font-size: 50px;
}

.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}


#heading .main-title {
  font-weight: 700;
}


@media screen and (max-width: 1200px) {
  .aboutHome .right {
    padding: 60px 30px;
  }
  .aboutHome .item {
    padding: 15px;
  }
}

@media screen and (max-width: 992px) {
  .aboutHome .container {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .aboutHome .right {
    padding: 50px 20px;
  }
  .awrapper .container {
    flex-direction: column;
  }
  .awrapper .box {
    margin: 10px 0;
  }
  .aboutHome .vision-mission-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .aboutHome .row {
    width: 100%;
  }
  .aboutHome .right {
    padding: 40px 20px;
  }
  .awrapper {
    height: auto;
    padding: 20px 0;
  }
  .awrapper .container {
    flex-direction: column;
  }
  .awrapper .box {
    margin: 10px 0;
  }
}

@media screen and (max-width: 576px) {
  .aboutHome .right {
    padding: 30px 15px;
  }
  .aboutHome .item h2 {
    font-size: 18px;
  }
  .awrapper h1 {
    font-size: 40px;
  }
  .awrapper h3 {
    font-size: 18px;
  }
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contact-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  transition: background-color 0.3s; 
}

.contact-table .topic {
  font-weight: bold;
  background-color: #f2f2f2;
  width: 30%; 
}

.contact-table .detail {
  width: 70%; 
}

.contact-table a {
  color: #007bff;
  text-decoration: none;
}

.contact-table a:hover {
  text-decoration: underline;
}

.contact-table td:hover {
  background-color: #969696; 
}

@media (max-width: 768px) {
  .contact-table {
    font-size: 14px;
  }
  .contact-table td {
    padding: 10px;
  }
  .contact-table .topic,
  .contact-table .detail {
    width: auto; 
    display: block;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .contact-table {
    font-size: 12px;
  }
  .contact-table td {
    padding: 8px;
  }
}

/* Background Image Section */


.backgroundImage {
  position: absolute;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/images/back.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
}

.content h2 {
  font-size: 18px;
  font-weight: 400;
}

.content .main-title {
  font-size: 100px;
  font-weight: 600;
}

.margin {
  height: 20px;
}

@media screen and (max-width: 768px) {
  .back {
    height: 200px;
  }

  .content h2 {
    font-size: 16px;
  }

  .content .main-title {
    font-size: 28px;
  }
}
/* OUR FEATURCES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 30rem;
  --card-height: 40rem;
  --color-black: #000;
  --color-white: #fff;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
}

html {
  font-size: 62.5%; 
  box-sizing: border-box;
}

.cards-container {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); 
  justify-content: center;
}

.card {
  height: var(--card-height);
  perspective: 150rem;
  position: relative;
  margin-bottom: 2rem; 
}

.card__side {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  height: var(--card-height);
  width: 100%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.8s;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card__side--front {
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card__side--back {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
  transform: rotateY(180deg);
  padding: 2rem;
  color: var(--color-white);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__heading {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  position: absolute;
}

.card__heading-span {
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right bottom, rgba(var(--color-secondary-light), 0.85), rgba(var(--color-secondary-dark), 0.85));
  color: var(--color-white);
  border-radius: 2px;
}


/* Table */

/* About.css */

.aboutHome {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.right {
  flex: 1;
  padding: 0 15px;
}

.contact-table {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-table td {
  padding: 12px;
  text-align: left;
  transition: background-color 0.3s;
}

.contact-table .subtitle-cell {
  width: 30%;
  font-weight: bold;
  background-color: #f2f2f2;
}

.contact-table .detail-cell {
  width: 70%;
}

.contact-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .contact-table .subtitle-cell {
    width: auto;
    display: block;
    text-align: left;
  }

  .contact-table .detail-cell {
    width: auto;
    display: block;
    text-align: left;
  }
}


.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between contact items */
}

.contact-icon {
  margin-right: 10px; /* Adjust spacing between icon and text */
}

.contact-text {
  flex: 1; /* Allows the text to take up remaining space */
}
/* Remove table border */







